flows.json
[
    {
        "id": "9f905e2a4f1d7680",
        "type": "tab",
        "label": "Proyecto",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b0106da59eb9c58",
        "type": "mqtt in",
        "z": "9f905e2a4f1d7680",
        "name": "SUSCRIPTOR",
        "topic": "Hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a90b13cb.1595c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 180,
        "wires": [
            [
                "638115de05971e43"
            ]
        ]
    },
    {
        "id": "5be497e57d080b38",
        "type": "function",
        "z": "9f905e2a4f1d7680",
        "name": "Temp",
        "func": "var temperatura = JSON.parse(msg.payload);\n\nif (temperatura.sensor_id == 1) {\n  msg.topic = \"INSERT INTO temperatura(temperatura) VALUES(\" + temperatura.value + \");\"\n  msg.payload = temperatura.value;\n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 100,
        "wires": [
            [
                "f59dde72b2093d3d",
                "802afea0ad890898"
            ]
        ]
    },
    {
        "id": "749466363387ea73",
        "type": "function",
        "z": "9f905e2a4f1d7680",
        "name": "hum",
        "func": "var humedad = JSON.parse(msg.payload);\n\nif(humedad.sensor_id == 2) {\n    msg.topic = \"INSERT INTO humedad(humedad) VALUES(\" + humedad.value + \");\"\n    msg.payload = humedad.value;\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "f59dde72b2093d3d",
                "6d4c4c2af69381f1"
            ]
        ]
    },
    {
        "id": "166a2e6503aa494a",
        "type": "function",
        "z": "9f905e2a4f1d7680",
        "name": "peso",
        "func": "var peso = JSON.parse(msg.payload);\n\nif(peso.sensor_id == 3) {\n    msg.topic = \"INSERT INTO peso(peso) VALUES(\" + peso.value + \");\"\n    msg.payload = Math.round(peso.value);\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 260,
        "wires": [
            [
                "ce52ad97646055b0",
                "f59dde72b2093d3d",
                "b5eac36325d52715"
            ]
        ]
    },
    {
        "id": "ce52ad97646055b0",
        "type": "ui_gauge",
        "z": "9f905e2a4f1d7680",
        "name": "",
        "group": "6437cabc31b067f3",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Peso",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "2000",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "f59dde72b2093d3d",
        "type": "mysql",
        "z": "9f905e2a4f1d7680",
        "mydb": "926b0881685ed6c1",
        "name": "",
        "x": 970,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "638115de05971e43",
        "type": "json",
        "z": "9f905e2a4f1d7680",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "749466363387ea73"
            ]
        ]
    },
    {
        "id": "6d4c4c2af69381f1",
        "type": "ui_gauge",
        "z": "9f905e2a4f1d7680",
        "name": "",
        "group": "de191c2d44b4c440",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "802afea0ad890898",
        "type": "ui_gauge",
        "z": "9f905e2a4f1d7680",
        "name": "",
        "group": "de191c2d44b4c440",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#b3007a",
            "#006fe6",
            "#cbbe3a"
        ],
        "seg1": "40",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "a8608c76f11cea3a",
        "type": "mqtt in",
        "z": "9f905e2a4f1d7680",
        "name": "SUSCRIPTOR",
        "topic": "Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a90b13cb.1595c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "c956560216857947"
            ]
        ]
    },
    {
        "id": "c956560216857947",
        "type": "json",
        "z": "9f905e2a4f1d7680",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "5be497e57d080b38"
            ]
        ]
    },
    {
        "id": "f5d2fae114b167a3",
        "type": "mqtt in",
        "z": "9f905e2a4f1d7680",
        "name": "SUSCRIPTOR",
        "topic": "Peso",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a90b13cb.1595c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "a5e1c77e8dfb16e2"
            ]
        ]
    },
    {
        "id": "a5e1c77e8dfb16e2",
        "type": "json",
        "z": "9f905e2a4f1d7680",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "166a2e6503aa494a"
            ]
        ]
    },
    {
        "id": "c7325bef02f49333",
        "type": "ui_text",
        "z": "9f905e2a4f1d7680",
        "group": "6437cabc31b067f3",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Peso",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "b5eac36325d52715",
        "type": "function",
        "z": "9f905e2a4f1d7680",
        "name": "calibración",
        "func": "if(msg.payload == 0) {\n    msg.payload = \"Calibrado\";\n} else {\n    msg.payload = \"No Calibrado\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 360,
        "wires": [
            [
                "c7325bef02f49333"
            ]
        ]
    },
    {
        "id": "29fb09e941d0f738",
        "type": "ui_spacer",
        "z": "9f905e2a4f1d7680",
        "name": "spacer",
        "group": "de191c2d44b4c440",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "a90b13cb.1595c",
        "type": "mqtt-broker",
        "name": "Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6437cabc31b067f3",
        "type": "ui_group",
        "name": "Peso",
        "tab": "8b157340b133210b",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "926b0881685ed6c1",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot3",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "de191c2d44b4c440",
        "type": "ui_group",
        "name": "Temperatura y Humedad",
        "tab": "8b157340b133210b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b157340b133210b",
        "type": "ui_tab",
        "name": "Sensores",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]